<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Carwash Booking Form</title>

</head>
<body>
  <script>
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
  const APP_ID = 711149509404832;    
  var senderID = '<%= id %>';
  
  window.extAsyncInit = function() {
      MessengerExtensions.getContext(APP_ID, 
        function success(thread_context){
         senderID = thread_context.psid;
        },
        function error(err){
          console.log(err);
        }
      );        
  };
</script>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-sm-4 w-100">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td colspan="2" class="text-center"><h2>Car Wash Booking Form</h2></td>
                        </tr>
                    </thead>
                    <tr>
                        <td colspan="2" class="alert alert-danger" id="warningPhone" style="display: none;">Phone Number cannot contain letters!!</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;"><b>Phone:</b> </td>
                        <td>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">+95</span>
                                </div>
                                <input onkeyup="checkNumber()" type="text" class="form-control" placeholder="Enter Phone Number" id="phone" aria-label="phone_number" aria-describedby="basic-addon1" required>
                              </div>
                        </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <b>City:</b>
                      </td>
                      <td>
                        <input class="form-control" type="text" placeholder="Only in Yangon for now" id="city" readonly>
                      </td>
                    </tr>
                    
                    <tr>
                        <td style="vertical-align: middle;"><b>Town:</b> </td>
                        <td>    
                            <div class="form-group">
                                <label for="town">Select Town</label>
                                <select class="form-control" id="town" required>
                                  <option>Ahlone</option>
                                  <option>Bahan</option>
                                  <option>Botahtaung</option>
                                  <option>Dagon</option>
                                  <option>Dawbon</option>
                                  <option>Hlaing</option>
                                  <option>Kamaryurt</option>
                                  <option>Kyauktadar</option>
                                  <option>Kyeemyintdine</option>
                                  <option>Lanmadaw</option>
                                  <option>Mayangon</option>
                                  <option>Mingalar</option>
                                  <option>Pabedan</option>
                                  <option>Pazundaung</option>
                                  <option>Sanchaung</option>
                                  <option>South Okalapa</option>
                                  <option>Tamwe</option>
                                  <option>Thaketa</option>
                                  <option>Thingankyun</option>
                                  <option>Yankin</option>
                                  <option>Yangon Airport</option>
                                  <option>FMI and Pun Hlaing</option>
                                  <option>MICT</option>
                                  <option>Hlaingtharyar(FMI,Nawaday,Industry)</option>
                                  <option>Gyo Gone(Insein)</option>
                                </select>
                              </div>
                        </td>
                    </tr>   
                    
                    <tr>
                        <td>
                           <b>Address Information</b> 
                        </td>
                        <td>
                          <textarea  placeholder="Street,Quarter,Hosuing,Condo,Building No.,Room No" id="address_info" required></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td>
                          Car Info
                        </td>
                        <td>
                          <input type="text" class="form-control" id="car_info" placeholder="Example: Honda Fit">
                        </td>
                    </tr>
                    
                    <tr>
                    <td>
                      <b>Car Size</b>
                    </td>
                    <td>
                     
                      <input type="radio" name="carsize" onchange="price()" value="small">
                      <label>Small</label>
                    
                    
                      <input type="radio" name="carsize" onchange="price()" value="medium">
                      <label>Medium</label>
                    
                    
                      <input type="radio" name="carsize"  onchange="price()" value="large">
                      <label>Large</label>
                    
                    </td>
                    </tr>
                    <tr>
                      <td>
                        Add-Ons Services
                      </td>
                      <td> 
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="addon0" value="2000" onclick="UpdateCost()">
                          <label class="custom-control-label" for="addon0">Pet Hair Removal</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="addon1" value="3000" onclick="UpdateCost()">
                          <label class="custom-control-label" for="addon1">Wax</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="addon2" value="4000" onclick="UpdateCost()">
                          <label class="custom-control-label" for="addon2">Sratch Removal</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="addon3" value="5000" onclick="UpdateCost()">
                          <label class="custom-control-label" for="addon3">Clay Bar Treatment</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="addon4" value="6000" onclick="UpdateCost()">
                          <label class="custom-control-label" for="addon4">Tire and alloy cleaning</label>
                        </div>
                        
                     <input type="number" id="addoncost" value="0">
                    </td>
                    </tr>
                    <tr>
                      <td>
                       <b>Total Price:</b> 
                      </td>
                      <td>
                       <p id="price"></p>
                      </td>
                    </tr>
                    
                      <tr>
                        <td><b>Date</b> </td>
                        <td>
                                
                            <input class="form-control" type="date" value="2020-08-19" id="date-input" required>
                              
                        </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <b>Time</b> 
                     </td>
                     <td>
                         <input class="form-control" type="time" value="13:45:00" id="time-input" required>
                     </td>
                    </tr>
                    
                    <tr>
                    <td>
                        <button type="button" onclick="submit()" class="btn btn-outline-light btn-primary btn-lg btn-block">Submit</button>
                    </td>
                    </tr>

                </table>  
            </div>
        </div>
    </div>
    
</body>
<script>
function checkNumber() {
    var phone = document.getElementById('phone').value;
    var relt = isNaN(phone)
    if (relt == true){
        document.getElementById('warningPhone').style.display = "";
    }else{
        document.getElementById('warningPhone').style.display = "none";
    }
}


function price() {
  var addon = docuemnt.getElementById('addoncost').value
  var value = document.querySelector('input[name="carsize"]:checked');
  value = value.value;
  console.log(value);
 if ( '<%= washtype%>' =="regular" && '<%= intorext%>'=="int"){
  if(value=="small"){
    document.getElementById("price").innerHTML= 3000 + +addon
  }
  else if(value=="medium"){
    document.getElementById("price").innerHTML="4000"
  }
  else if(value=="large"){
    document.getElementById("price").innerHTML="5000"
  }
 }
 else if ( '<%= washtype%>' =="regular" && '<%= intorext%>'=="ext"){
  if(value=="small"){
    document.getElementById("price").innerHTML= "3000"
  }
  else if(value=="medium"){
    document.getElementById("price").innerHTML="4000"
  }
  else if(value=="large"){
    document.getElementById("price").innerHTML="5000"
  }
 }
 else if ( '<%= washtype%>' =="regular" && '<%= intorext%>'=="both"){
  if(value=="small"){
    document.getElementById("price").innerHTML= "5000"
  }
  else if(value=="medium"){
    document.getElementById("price").innerHTML="7000"
  }
  else if(value=="large"){
    document.getElementById("price").innerHTML="9000"
  }
 }
 else if ( '<%= washtype%>' =="waterless" && '<%= intorext%>'=="int"){
  if(value=="small"){
    document.getElementById("price").innerHTML= "4000"
  }
  else if(value=="medium"){
    document.getElementById("price").innerHTML="5000"
  }
  else if(value=="large"){
    document.getElementById("price").innerHTML="6000"
  }
 }
 else if ( '<%= washtype%>' =="waterless" && '<%= intorext%>'=="ext"){
  if(value=="small"){
    document.getElementById("price").innerHTML= "4000"
  }
  else if(value=="medium"){
    document.getElementById("price").innerHTML="5000"
  }
  else if(value=="large"){
    document.getElementById("price").innerHTML="6000"
  }
 }
 else if ( '<%= washtype%>' =="waterless" && '<%= intorext%>'=="both"){
  if(value=="small"){
    document.getElementById("price").innerHTML= "7000"
  }
  else if(value=="medium"){
    document.getElementById("price").innerHTML="9000"
  }
  else if(value=="large"){
    document.getElementById("price").innerHTML="11000"
  }
 }

}

function UpdateCost() {
  var sum = 0;
  var gn, elem;
  for (i=0; i<5; i++) {
    gn = 'addon'+i;
    elem = document.getElementById(gn);
    if (elem.checked == true) { sum += Number(elem.value); }
  }
  document.getElementById('addoncost').value = sum.toFixed(2);
} 

</script>


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-firestore.js"></script>

<script>
  const pageaccesstoken= 'EAAKGyWXj6KABAB4s5bmcCuMvrdpKW1S0fnoYezGNAtA022SiQZAOwTBeng7cjs79hPYl3pknZCTGWDPPIhBqsKOZAokIGEpjqtFT4AqV6yaZAZBPYtS5VmUsDayUVkZCloQRipJouy3ReZBfUkonLYwH8TO1BXTHVxBu1aTbKIpZB1O4kZC9e7QCXMtJNdfC0MXkZD'
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDA9mcBjwJzpCpYZGGWLseBZ6A3QLlSxAk",
    authDomain: "mm-carwash.firebaseapp.com",
    databaseURL: "https://mm-carwash.firebaseio.com",
    projectId: "mm-carwash",
    storageBucket: "mm-carwash.appspot.com",
    messagingSenderId: "478002772636",
    appId: "1:478002772636:web:f82fa2e926632accb10b59",
    measurementId: "G-BFPKPTE060"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  
  function submit(){
  firebase.auth().signInWithEmailAndPassword('mmcarwash@gmail.com', '123456').then(function(success) {
    console.log(success);
      var db = firebase.firestore();
      var senderID = '<%= id %>';
        db.collection('Car Wash Book').add({
            customerID:'<%= id %>',
            name: '<%= name%>',
            WashType:'<%= washtype%>', 
            Interior_or_Exterior:'<%= intorext%>', 
            phone: document.getElementById('phone').value,
            town: document.getElementById('town').value,
            address:document.getElementById('address_info').value,
            car: document.getElementById('car_info').value,
            carsize:document.querySelector('input[name="carsize"]:checked').value,
            price:document.getElementById("price").innerHTML,
            date:document.getElementById('date-input').value,
            time:document.getElementById('time-input').value,
           
        }).then(success => {
          MessengerExtensions.requestCloseBrowser(function success() {
              // webview closed
              var textMessage = {
            "recipient":{
              "id":senderID
            },
            "message":{
              "text": "Your booking has been is submitted.Thank you for choosing our serice. We'll contact you soon\nTo view your booking simply select 'View Booking' from the Menu"
            }
          }
          
          var xhr = new XMLHttpRequest();
            xhr.open("POST", `https://graph.facebook.com/v5.0/me/messages?access_token=${pageaccesstoken}`, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify(textMessage));
            popup("Thank you. Please close this window if you are not returned to the previous page.");
            }, function error(err) {
              // an error occurred
              popup(message);
            });
       
        }).catch(error => {
          console.log(error);
        })
      
});
  }
</script>
</html>