<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Plan Subcribe form</title>

</head>
<body>
  <script>
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
  const APP_ID = 711149509404832;    
  var senderID = '';
  
  window.extAsyncInit = function() {
      MessengerExtensions.getContext(APP_ID, 
        function success(thread_context){
         senderID = thread_context.psid;
        },
        function error(err){
          console.log(err);
        }
      );        
  };
</script>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-sm-4 w-100">
              <form id="form" method="post" action="https://mmcarwash.herokuapp.com/plan_update/">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td colspan="2" class="text-center"><h2>Car Wash Plan Booking Form</h2></td>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                          Name
                        </td>
                        <td>
                          <input type="text" class="form-control" name="Name" id="Name" value="<%= data.Name %>" placeholder="Enter Name" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alert alert-danger" id="warningPhone" style="display: none;">Phone Number cannot contain letters!!</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;"><b>Phone:</b> </td>
                        <td>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">+95</span>
                                </div>
                                <input onkeyup="checkNumber()" type="text" class="form-control" placeholder="Enter Phone Number" name="phone" id="phone" aria-label="phone_number" aria-describedby="basic-addon1" value="<%= data.phone %>" required>
                              </div>
                        </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <b>City:</b>
                      </td>
                      <td>
                        <input class="form-control" type="text" placeholder="Only in Yangon for now" id="city" readonly>
                      </td>
                    </tr>
                    
                    <tr>
                        <td style="vertical-align: middle;"><b>Town:</b> </td>
                        <td>    
                            <div class="form-group">
                                <label for="town">Select Town</label>
                                <select class="form-control" name='town' id="town" required>
                                    <option><%= data.town %></option>
                                  <option>Ahlone</option>
                                  <option>Bahan</option>
                                  <option>Botahtaung</option>
                                  <option>Dagon</option>
                                  <option>Dawbon</option>
                                  <option>Hlaing</option>
                                  <option>Kamaryurt</option>
                                  <option>Kyauktadar</option>
                                  <option>Kyeemyintdine</option>
                                  <option>Lanmadaw</option>
                                  <option>Mayangon</option>
                                  <option>Mingalar</option>
                                  <option>Pabedan</option>
                                  <option>Pazundaung</option>
                                  <option>Sanchaung</option>
                                  <option>South Okalapa</option>
                                  <option>Tamwe</option>
                                  <option>Thaketa</option>
                                  <option>Thingankyun</option>
                                  <option>Yankin</option>
                                  <option>Yangon Airport</option>
                                  <option>FMI and Pun Hlaing</option>
                                  <option>MICT</option>
                                  <option>Hlaingtharyar(FMI,Nawaday,Industry)</option>
                                  <option>Gyo Gone(Insein)</option>
                                </select>
                              </div>
                        </td>
                    </tr>   
                    
                    <tr>
                        <td>
                           <b>Address Information</b> 
                        </td>
                        <td>
                          <textarea  placeholder="Street,Quarter,Hosuing,Condo,Building No.,Room No" name="address_info" id="address_info" required><%= data.address %></textarea>
                        </td>
                    </tr>

                    <tr>
                      <td>
                        Car Plate
                      </td>
                      <td>
                        <input type="text" class="form-control" name="car_plate" id="car_plate" value="<%= data.carplate %>" placeholder="Example: Honda Fit">
                      </td>
                  </tr>
                  <tr>
                    <td>
                      Car Brand
                    </td>
                    <td>
                      <input type="text" class="form-control" name="car_brand" id="car_brand" value="<%= data.carbrand %>" placeholder="Example: Toyota">
                    </td>
                </tr>
                <tr>
                  <td>
                    Car Model
                  </td>
                  <td>
                    <input type="text" class="form-control" name="car_model" id="car_model" value="<%= data.carmodel %>" placeholder="Example: Mark 2">
                  </td>
              </tr>
                    
                    <tr>
                    <td>
                      <b>Car Size</b>
                    </td>
                    <td>
                     
                      <input type="radio" name="carsize" id='small' onchange="priceChange()" value="small" required>
                      <label>Small</label>
                    
                    
                      <input type="radio" name="carsize" id='medium' onchange="priceChange()" value="medium">
                      <label>Medium</label>
                    
                    
                      <input type="radio" name="carsize" id='large'  onchange="priceChange()" value="large">
                      <label>Large</label>
                    
                    </td>
                    </tr>
                    
                     <tr>
                          <td>
                           <b>Price:</b> 
                          </td>
                          <td>
                            <input type="text" class="form-control" name="price" id="price" value="<%= data.price %>" readonly>
                          </td>
                        </tr>
                        
                      <tr>
                        <td><b>Start Date</b> </td>
                        <td>
                                
                            <input class="form-control" type="date" value="<%= data.start_date %>" name="startdate" id="startdate" onchange="getEndDate()" required>
                              
                        </td>
                    </tr>
                    <tr>
                        <td><b>Period</b></td>
                        <td>
                            Subscription period : <input name="period" id="period" class="form-control" value='<%= data.period %>' readonly/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>End Date</b>
                        </td>
                        <td>
                            <input class="form-control" readonly type="date" name="enddate" id="enddate" value="<%= data.end_date %>" required>
                        </td>
                    </tr>
                    <tr>
                      <td style="vertical-align: middle;"><b>Weekly Regular Check up day:</b> </td>
                      <td>    
                          <div class="form-group">
                              <label for="day">Select Town</label>
                              <select class="form-control"  name="day" id="day" required>
                                <option><%= data.day %></option>
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Friday</option>
                                <option>Saturday</option>
                                <option>Sunday</option>
                              </select>
                            </div>
                      </td>
                  </tr>   
                    <tr>
                      <td>
                        <b>Weekly Regular Check up Time</b> 
                     </td>
                     <td>
                         <input class="form-control" type="time" value="<%= data.time %>" name="time_input" id="time_input" required>
                     </td>
                    </tr>
                    
                    <tr>
                    <td>
                        <input type="hidden"  id="sender" name="sender" value="<%= data.id %>">
                        <input type='hidden' name="doc_id" id='doc_id' value="<%= data.doc_id %>"  >
                        <input type='hidden' name="booking_number" id='booking_number' value="<%= data.booking_number %>">
                        <input type="hidden"  id="plan" name="plan" value="<%= data.plan %>">

                        <button type="button" class="btn btn-primary" onclick="myFunction()">Close</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-light btn-outline-primary">Update</button>
                        <button type="button" class="btn btn-danger" onclick="delete_booking()">Delete</button>
                    </td>
                    </tr>

                </table>  
              </form>
            </div>
        </div>
    </div>
    
</body>
<script>
      var v_carsize= '<%= data.carsize %>';
        if(v_carsize=='small'){
            document.getElementById('small').checked= true;
        }else{
            document.getElementById('small').checked= false;
        }
        if(v_carsize=='medium'){
            document.getElementById('medium').checked= true;
        }else{
            document.getElementById('medium').checked= false;
        }
        if(v_carsize=='large'){
            document.getElementById('large').checked= true;
        }
        else{
            document.getElementById('large').checked= false;
        }
    function getEndDate(){

    var period = $('#period').val();
    var value = parseInt(period); 
    var StartDate = $('#startdate').val();
    var StartDate = StartDate.split('-');
    var StartDate = StartDate[0]+'/'+StartDate[1]+'/'+StartDate[2];
    var dateString = StartDate; // date string
    var actualDate = new Date(dateString); // convert to actual date
    var newDate = new Date(actualDate.getFullYear(), actualDate.getMonth()+value, actualDate.getDate());
    var myDate = new Date(newDate);
    var myDate = myDate.toLocaleString();
    var myDate = myDate.split(',');
    var myDate = myDate[0];
    var myDate = myDate.split('/');
    var year = myDate[2];
    var month = '';
    var date = '';

    if(myDate[0].length < 2){

        month = '0'+myDate[0];
    }else{
        month = myDate[0];

    }


    if(myDate[1].length < 2){

        date = '0'+myDate[1];
    }else{
        date = myDate[1];

    }

    var EndDate = year+'-'+month+'-'+date;


    $( "#enddate" ).val(EndDate);


    }

function checkNumber() {
    var phone = document.getElementById('phone').value;
    var relt = isNaN(phone)
    if (relt == true){
        document.getElementById('warningPhone').style.display = "";
    }else{
        document.getElementById('warningPhone').style.display = "none";
    }
}

function priceChange() {
  var value = document.querySelector('input[name="carsize"]:checked');
  value = value.value;
  console.log(value);
 if ( '<%= data.plan%>' =="bronze" && '<%= data.period%>'=="1"){
  if(value=="small"){
    document.getElementById("price").value= "15000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="25000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="35000Ks"
  }
 }
 else if ( '<%= data.plan%>' =="bronze" && '<%= data.period%>'=="2"){
  if(value=="small"){
    document.getElementById("price").value= "25000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="35000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="45000Ks"
  }
 }
 else if ( '<%= data.plan%>' =="bronze" && '<%= data.period%>'=="3"){
  if(value=="small"){
    document.getElementById("price").value= "35000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="45000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="55000Ks"
  }
 }
 else if ( '<%= data.plan%>' =="silver" && '<%= data.period%>'=="1"){
  if(value=="small"){
    document.getElementById("price").value= "25000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="35000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="45000Ks"
  }
 }
 else if ( '<%= data.plan%>' =="silver" && '<%= data.period%>'=="2"){
  if(value=="small"){
    document.getElementById("price").value= "35000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="45000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="55000Ks"
  }
 }
 else if ( '<%= data.plan%>' =="silver" && '<%= data.period%>'=="3"){
  if(value=="small"){
    document.getElementById("price").value= "45000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="55000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="6500Ks"
  }
 }
 else if ( '<%= data.plan%>' =="gold" && '<%= data.period%>'=="1"){
  if(value=="small"){
    document.getElementById("price").value= "35000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="45000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="55000Ks"
  }
 }
 else if ( '<%= data.plan%>' =="gold" && '<%= data.period%>'=="2"){
  if(value=="small"){
    document.getElementById("price").value= "45000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="55000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="65000Ks"
  }
 }
 else if ( '<%= data.plan%>' =="gold" && '<%= data.period%>'=="3"){
  if(value=="small"){
    document.getElementById("price").value= "55000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="65000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="75000Ks"
  }
 }
 else if ( '<%= data.plan%>' =="platinum" && '<%= data.period%>'=="1"){
  if(value=="small"){
    document.getElementById("price").value= "45000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="55000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="65000Ks"
  }
 }
 else if ( '<%= data.plan%>' =="platinum" && '<%= data.period%>'=="2"){
  if(value=="small"){
    document.getElementById("price").value= "55000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="65000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="75000Ks"
  }
 }
 else if ( '<%= data.plan%>' =="platinum" && '<%= data.period%>'=="3"){
  if(value=="small"){
    document.getElementById("price").value= "65000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="75000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="85000Ks"
  }
 }
 else if ( '<%= data.plan%>' =="diamond" && '<%= data.period%>'=="1"){
  if(value=="small"){
    document.getElementById("price").value= "55000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="65000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="75000Ks"
  }
 }
 else if ( '<%= data.plan%>' =="diamond" && '<%= data.period%>'=="2"){
  if(value=="small"){
    document.getElementById("price").value= "65000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="75000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="85000Ks"
  }
 }
 else if ( '<%= data.plan%>' =="diamond" && '<%= data.period%>'=="3"){
  if(value=="small"){
    document.getElementById("price").value= "75000Ks"
  }
  else if(value=="medium"){
    document.getElementById("price").value="85000Ks"
  }
  else if(value=="large"){
    document.getElementById("price").value="95000Ks"
  }
 }
}
</script>

<script>
      
  const windowShut = () => {
    MessengerExtensions.requestCloseBrowser(function success() {
      console.log("success");          
    }, function error(err) {
      console.log(err);
    });
  }
  
  document.getElementById("form").addEventListener("submit", windowShut);       
 
</script>

</html>